img {
	width: 30%;
	float: left;
	margin: 1.66%;
	height: 400px;

}
/* img:hover{
	border: 1px solid red;

} */
body{
	/* background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60); */
	background-repeat: no-repeat;
  	background-size: cover;
}

p {
	font-size: 30px;
	/* font-family: Raleway; */
	font-family: cursive;
	/* font-weight: bold; */
	margin-left: 1.66%;
	/* font-size: 23px; */
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
	color: deeppink;
}

p:hover{
	font-size: 32px;
	color:green;
	font-weight: 1000;
}
